
<app-start-menu *ngIf="show"/>
<div class="task-bar">

  <div class="btn-start" (click)="OnShow()"> <img src="../../../assets/img/icon.png" alt="start"> start</div>

  <div class="tabs">
    <div *ngIf=' toggle.state && toggle.isfolder === false' class="notepad active"> <img
        src="../../../assets/img/notepad.png" alt="readme"> ReadMe.txt</div>
    <div class="notepad active" id="folder" *ngIf=' toggle.state && toggle.isfolder === true'> <img
        src="../../../assets/img/folder.png" alt="Projects"> Projects</div>
  </div>
  <div class="time">{{time}}</div>

</div>
