<div *ngIf="toggle.state && toggle.isfolder" class="window ">
    <div class="title-bar">
      <div><img src="../../../assets/img/folder.png"> Projects</div>
      <div class="controls">
        <button class="cls" (click)="OnToggle()">x</button>
        <button class="max">□</button>
        <button class="min" (click)="OnToggle()">-</button>
      </div>
    </div>
    <div class="menu-bar">
      <span>File</span>
      <span>Edit</span>
      <span>View</span>
      <span>Favorites</span>
      <span>Tools</span>
      <span>Help</span>
      <span class="icon"> <img src="../../../assets/img/icon.png" alt=""></span>
    </div>
 
    <div class="function-menu">
      <div class="function-btn disable">
        <img src="../../../assets/img/back.png" alt="">
        <span>Back</span>
      </div>
      <div class="arrow disable"></div>
      <div class="function-btn disable">
        <img src="../../../assets/img/forward.png" alt="">
        <div class="arrow"></div>
      </div>
      <div class="function-btn">
        <img src="../../../assets/img/up.png" alt="">
      </div>
 
      <div class="separator"></div>
      <div class="function-btn">
        <img class="inside-separator" src="../../../assets/img/299(32x32).png" alt="">
        <span>Search</span>
      </div>
 
      <div class="function-btn">
        <img class="inside-separator" src="../../../assets/img/337(32x32).png" alt="">
        <span>Folders</span>
        </div>
        <div class="separator"></div>
        <div class="function-btn">
          <img  class="inside-separator" src="../../../assets/img/358(32x32).png" alt="">
          <div class="arrow">
          </div>
      </div>
    </div>
 
    <div class="description-menu">
     <div class="description-tittle disable">Address</div>
     <div class="description-content">
       <img src="../../../assets/img/676(16x16).png" alt="">
       <div class="text">My Computer</div>
       <img src="../../../assets/img/dropdown.png" alt="">
     </div>
     <div class="description-go">
       <img src="../../../assets/img/290.png" alt="">
       <span>Go</span>
     </div>
    </div>
    <div class="content">
     <div class="content-left">
      <div class="content-left-card">
        <div class="card-header">
           <div class="card-header-text">
             System Task
           </div>
           <img src="../../../assets/img/pullup.png" alt="">
        </div>
        <div class="card-content">
           <div class="card-content-row">
             <img src="../../../assets/img/view-info.ico" alt="">
             <div class="card-content-text">
               View system information
             </div>
           </div>
           <div class="card-content-row">
             <img src="../../../assets/img/302(16x16).png" alt="">
             <div class="card-content-text">
               Add or remove programs
             </div>
           </div>
           <div class="card-content-row">
             <img src="../../../assets/img/300(16x16).png" alt="">
             <div class="card-content-text">
               Change a setting
             </div>
           </div>
 
        </div>
      </div>
      
     </div>
     <div class="content-right">
       <div class="content-right-card">
         <div class="header-right-card">
           <p>
             My Projects
           </p>
         </div>
         <div class="card-content-right">
          <a   *ngFor="let item of listProjects" target="_blank" href="{{item.url}}">
            <div    class="right-item-card">
              <img src="{{item.icon}}" alt="">
              <div class="right-item-text">
                <p>
                   {{item.name}}
                </p>
                <span>
                   {{item.description}}
               </span>
              </div>
            </div>
          </a>
        
  
         </div>
       </div>
     </div>
    </div>
  
  </div>


  <!-- <div class="right-item-card">
    <img src="{{item.icon}}" alt="">
    <div class="right-item-text">
      <p>
        {{item.name}}
      </p>
      <span>
       {{item.description}}
      </span>
    </div>
  </div> -->