 <div *ngIf="(toggle.state && toggle.isfolder === false)" class="window ">
    <div class="title-bar">
      <div><img src="../../../assets/img/notepad.png"> ReadMe.txt</div>
      <div class="controls">
        <button class="cls" (click)="OnToggle()">x</button>
        <button class="max">□</button>
        <button class="min">-</button>
      </div>
    </div>
    <div class="menu-bar">
      <span>File</span>
      <span>Edit</span>
      <span>Format</span>
      <span>View</span>
      <span>Help</span>
    </div>
    <textarea>
        {{Tittle}}
      
 {{Description}}
 
 {{Guide}}
    </textarea>
</div>



